<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/index.css">
    <title>Authentication System</title>
    <link rel="icon" href="https://icons.iconarchive.com/icons/graphicloads/100-flat/256/contact-icon.png" type="image/x-icon"
</head>
<body>

    <div class="container"> 
        <img class="main-image" src="https://icons.iconarchive.com/icons/graphicloads/100-flat/256/contact-icon.png" alt="Logo">
    </div>

    <h1>Authentication System</h1>

    <a class="login" href="login.html">Login</a>

    <a class="register" href="register.html">Register</a>

    <a class="forgot_password" href="forgot_password.html">Forgot Password?</a>

    <footer>@Copyright 2024- All right reserved by Authentication System </footer>
</body>
</html>