<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/register.css">
    <title>Authentication System - Register</title>
    <link rel="icon" href="https://icons.iconarchive.com/icons/graphicloads/100-flat/256/contact-icon.png" type="image/x-icon">

</head>
<body>
    <div class="container">
        <img src="https://icons.iconarchive.com/icons/graphicloads/100-flat/256/contact-icon.png" alt="Logo">
        <h2>Register</h2>

        <div class="name">
            <input type="name" placeholder=" Escreva o seu nome" required>
        </div>


        <div class="email">
            <input type="email" placeholder=" Escreva o seu email" required>
        </div>

        <div class="password">
            <input type="password" placeholder=" Escreva a sua password" required>
        </div>
        
        <div class="password">
            <input type="password" placeholder=" Repita a sua password" required>
        </div>

        <div class="terms-checkbox">
            <input type="checkbox" id="terms" required>
            <label for="terms">Aceitar os termos e condições</label>
        </div>

        <button type="submit">Registar</button>
    </div>

    <a href="index.html" class="back-button">Voltar para a Página Inicial</a>

</body>
</html>