<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/forgot_password.css">
    <title>Authentication System - Forgot Password</title>
    <link rel="icon" href="https://icons.iconarchive.com/icons/graphicloads/100-flat/256/contact-icon.png" type="image/x-icon">

</head>
<body>
    <div class="container">
        <img src="https://icons.iconarchive.com/icons/graphicloads/100-flat/256/contact-icon.png" alt="Logo">
        <h2>Forgot Password</h2>

        <div class="email">
            <input type="email" placeholder=" Escreva o seu email" required>
        </div>

        <button type="submit">Enviar</button>
    </div>

    <a href="/views/index.html" class="back-button">Voltar para a Página Inicial</a>

</body>
</html>