<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/login.css">
    <title>Authentication System</title>
    <link rel="icon" href="https://icons.iconarchive.com/icons/graphicloads/100-flat/256/contact-icon.png" type="image/x-icon">

</head>
<body>
    <div class="container">
        <img src="https://icons.iconarchive.com/icons/graphicloads/100-flat/256/contact-icon.png" alt="Logo">
        <h2>Login</h2>

        <div class="email">
            <input type="email" placeholder=" Escreva o seu email" required>
        </div>

        <div class="password">
            <input type="password" placeholder=" Escreva a sua password" required>
        </div>

        <a class="forgot_password" href="forgot_password.html">Forgot password?</a>
        
        <button type="submit">Entrar</button>
    </div>

    <a href="index.html" class="back-button">Voltar para a Página Inicial</a>

</body>
</html>